set es_enableCustomData 1
set mysql_connection_string "<<put db connection string here>>"
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 10
# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.

# Don't change these settings here

set mysql_debug false


start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start bob74_ipl
start iplLoader
start hardcap
start PvP
start trafficadjuster
start webadmin-lua
start wap-settings
start wap-chatlog
exec resources/vMenu/config/permissions.cfg
# add_ace group.admin "vMenu.Everything" allow
setr vmenu_bans_database_filepath "resources/vMenu/"
start EasyAdmin
add_ace group.admin easyadmin allow
set ea_moderationNotification "false"
set ea_minIdentifierMatches 2


start mysql-async
start essentialmode
start esplugin_mysql
start es_admin2

exec MyServer.cfg

start vMenu




#-------------[Server Settings]-------------#

#Allow Server Sided Script Hook?
sv_scriptHookAllowed 0

# This is your Rcon password, comment out to disable rcon
# Last Known Password if the current one isn't working is: samsung92 OR ![RconPassword]
# rcon_password put_rcon_pass_here

sv_hostname "Your Server Name | tag1 | tag2 | tag3 |"

# a comma-separated list of tags for your server
# for example: sets tags "drifting, cars, racing" or sets tags "roleplay, military, tanks"
sets tags "tag1, tag2, tag3"


# set an optional server info and connecting banner image url.
# size doesn't matter, any banner sized image will be fine.
#sets banner_detail "http://url.to/image.png"
#sets banner_connecting "http://url.to/image.png"

# nested configs!
#exec server_internal.cfg

# loading a server icon (96x96 PNG file)
load_server_icon loading.png

# convars for use from script
set temp_convar "hey world!"

# want to only allow players authenticated with a third-party provider like Steam?
#sv_authMaxVariance 1
#sv_authMinTrust 5

# add system admins
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit

# Hide player endpoints in external log output.
sv_endpointprivacy true



# hide player endpoints in external log output
#sv_endpointprivacy true



setr ea_LanguageName "en"
setr ea_MenuButton "56"
set ea_enableCallAdminCommand "true"
set ea_enableReportCommand "true"
onesync_enabled 0
#This is an official FiveM server hosted by ZAP-Hosting.com. You do not need to put a license key here.
restart sessionmanager
add_ace group.admin webadmin allow
add_principal <<put your steam id here for admin stuff vMeun / Admin>> group.admin
set steam_webApiKey "9FC5405FEBC21BBA433351E1B7490859"
set sv_UseDirectListing true
sets locale "en-US"
set sv_listingIPOverride "127.0.0.1"


sv_licenseKey "<<put your license key here"


